<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.trianchatapps">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <application
        android:name=".OfflineCapabilities"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:icon">
        <activity android:name=".Main.FriendRequest"></activity>
        <activity android:name=".Main.MyProfil" />
        <activity android:name=".Main.Profil" />
        <activity android:name=".splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Auth.Register" />
        <activity android:name=".Main.MainActivity" />
        <activity android:name=".Thread.ThreadChat" />
        <activity
            android:name=".Main.ListUser"
            android:parentActivityName=".Main.MainActivity" />
        <activity android:name=".Main.ContactActivity"/>

        <service
            android:name=".Services.MyFirebaseMessagingService"
            android:stopWithTask="false"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".Services.BackgroundService"
            android:stopWithTask="false" />

        <receiver
            android:name=".Services.NotifikasiService"
            android:enabled="true"
            android:exported="false" /> <!-- <service android:name=".Services.InstanceIdService" -->
        <!-- tools:ignore="ExportedService"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.INSTANCE_ID_EVENT"/> -->
        <!-- </intent-filter> -->
        <!-- </service> -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_chat_black_24dp" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />
        <meta-data
            android:name="fontProviderRequests"
            android:value="Noto Color Emoji Compat" />
        <meta-data android:name="firebase_crash_collection_enabled" android:value="false"/>
        <meta-data android:name="firebase_crashlytics_collection_enabled" android:value="true"/>
    </application>

</manifest>